<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Welcome !</h2>
    <div class="inner">
      <p class="first">
        Welcome to the FAPP's admin panel. You can manage users by clicking this <%= link_to "link", url(:users, :index) %>.
      </p>
      <hr />
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
